body {
    background-color: indianred;
}

h1 {
    color: whitesmoke;
    margin: 10px;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-weight: normal;
    color: whitesmoke;  
}

#time-option {
    outline: none;
    border: none;
    width: 300px;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
}

#save-btn {
    display: block;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}